form h3 {
  text-align: center;
}
textarea {
  resize: none;
}
form table tr:nth-last-child(1) {
  text-align: center;
}
.title {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}
